# root file EditorConfig
root = true

# for all
[*]
charset = utf-8
indent_style = tab
indent_size = 4

# for *.c *.h file
[*.{c,h}]
indent_style = tab
indent_size = 4

# for makefile
[makefile]
indent_style = tab
indent_size = 4

